
body {
  width: 100%;
  background-color:green;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


header {
  background-color:red;
  text-align: center;
  border: 2px solid black;
  
}

main img {
  max-width: 250px;
  max-height: 250px ;
  justify-content:space-evenly;
  border: 2px solid black;
  
}
  main {
    display: flex;
    justify-content:center;
    width: 100%;
    margin: auto 20px;
    margin-top: 10px;
  }
  
  footer {
    text-align: center;
    
  }
  
  